<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="proveedorAudit">
      <h2 data-cy="proveedorAuditDetailsHeading"><span jhiTranslate="controlacApp.proveedorAudit.detail.title">Proveedor Audit</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="controlacApp.proveedorAudit.id">Id</span></dt>
        <dd>
          <span>{{ proveedorAudit.id }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.proveedorAudit.fechaAudit">Fecha Audit</span></dt>
        <dd>
          <span>{{ proveedorAudit.fechaAudit }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.proveedorAudit.tipoCrud">Tipo Crud</span></dt>
        <dd>
          <span>{{ proveedorAudit.tipoCrud }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.proveedorAudit.idProveedor">Id Proveedor</span></dt>
        <dd>
          <span>{{ proveedorAudit.idProveedor }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.proveedorAudit.idUSuario">Id U Suario</span></dt>
        <dd>
          <span>{{ proveedorAudit.idUSuario }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/proveedor-audit', proveedorAudit.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
