<div>
  <h2 id="page-heading" data-cy="ClientesHeading">
    <span jhiTranslate="controlacApp.clientes.home.title">Clientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controlacApp.clientes.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-clientes"
        [routerLink]="['/clientes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controlacApp.clientes.home.createLabel"> Crear nuevo Clientes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
    <span jhiTranslate="controlacApp.clientes.home.notFound">Ningún Clientes encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="clientes && clientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estadoCliente">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.estadoCliente">Estado Cliente</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombresContacto">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.nombresContacto">Nombres Contacto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="apellidoContacto">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.apellidoContacto">Apellido Contacto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="direccion">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.direccion">Direccion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreEmpresa">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.nombreEmpresa">Nombre Empresa</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="regFiscal">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.regFiscal">Reg Fiscal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="giro">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.giro">Giro</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notas">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.notas">Notas</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sitioWeb">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.sitioWeb">Sitio Web</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telefonoFijo">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.telefonoFijo">Telefono Fijo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telefonoFijo2">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.telefonoFijo2">Telefono Fijo 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telefonoMovil">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.telefonoMovil">Telefono Movil</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telefonoMovil2">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.telefonoMovil2">Telefono Movil 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaRegistro">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.fechaRegistro">Fecha Registro</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaUltimaC">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.clientes.fechaUltimaC">Fecha Ultima C</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clientes of clientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/clientes', clientes.id, 'view']">{{ clientes.id }}</a>
          </td>
          <td>{{ clientes.estadoCliente }}</td>
          <td>{{ clientes.nombresContacto }}</td>
          <td>{{ clientes.apellidoContacto }}</td>
          <td>{{ clientes.direccion }}</td>
          <td>{{ clientes.email }}</td>
          <td>{{ clientes.nombreEmpresa }}</td>
          <td>{{ clientes.regFiscal }}</td>
          <td>{{ clientes.giro }}</td>
          <td>{{ clientes.notas }}</td>
          <td>{{ clientes.sitioWeb }}</td>
          <td>{{ clientes.telefonoFijo }}</td>
          <td>{{ clientes.telefonoFijo2 }}</td>
          <td>{{ clientes.telefonoMovil }}</td>
          <td>{{ clientes.telefonoMovil2 }}</td>
          <td>{{ clientes.fechaRegistro }}</td>
          <td>{{ clientes.fechaUltimaC }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/clientes', clientes.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/clientes', clientes.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(clientes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
