<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-detalles-heading" data-cy="DetallesCreateUpdateHeading" jhiTranslate="controlacApp.detalles.home.createOrEditLabel">
        Crear o editar Detalles
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="controlacApp.detalles.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.detalles.cantidad" for="field_cantidad">Cantidad</label>
          <input type="number" class="form-control" name="cantidad" id="field_cantidad" data-cy="cantidad" formControlName="cantidad" />
          <div *ngIf="editForm.get('cantidad')!.invalid && (editForm.get('cantidad')!.dirty || editForm.get('cantidad')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cantidad')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('cantidad')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.detalles.impuestos" for="field_impuestos">Impuestos</label>
          <input type="number" class="form-control" name="impuestos" id="field_impuestos" data-cy="impuestos" formControlName="impuestos" />
          <div *ngIf="editForm.get('impuestos')!.invalid && (editForm.get('impuestos')!.dirty || editForm.get('impuestos')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('impuestos')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('impuestos')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.detalles.descuento" for="field_descuento">Descuento</label>
          <input type="number" class="form-control" name="descuento" id="field_descuento" data-cy="descuento" formControlName="descuento" />
          <div *ngIf="editForm.get('descuento')!.invalid && (editForm.get('descuento')!.dirty || editForm.get('descuento')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descuento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('descuento')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.detalles.total" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
        </div>

        <div class="mb-3">
          <label jhiTranslate="controlacApp.detalles.productos" for="field_productos">Productos</label>
          <select
            class="form-control"
            id="field_productos"
            data-cy="productos"
            multiple
            name="productos"
            formControlName="productos"
            [compareWith]="compareProductos"
          >
            <option [ngValue]="productosOption" *ngFor="let productosOption of productosSharedCollection">{{ productosOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
