<div>
  <h2 id="page-heading" data-cy="LotesHeading">
    <span jhiTranslate="controlacApp.lotes.home.title">Lotes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controlacApp.lotes.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lotes"
        [routerLink]="['/lotes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controlacApp.lotes.home.createLabel"> Crear nuevo Lotes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lotes?.length === 0">
    <span jhiTranslate="controlacApp.lotes.home.notFound">Ningún Lotes encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="lotes && lotes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.lotes.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cantidad">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.lotes.cantidad">Cantidad</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaEntrada">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.lotes.fechaEntrada">Fecha Entrada</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lote">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.lotes.lote">Lote</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estado">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.lotes.estado">Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notas">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.lotes.notas">Notas</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="proveedores.id">
            <div class="d-flex">
              <span jhiTranslate="controlacApp.lotes.proveedores">Proveedores</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lotes of lotes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lotes', lotes.id, 'view']">{{ lotes.id }}</a>
          </td>
          <td>{{ lotes.cantidad }}</td>
          <td>{{ lotes.fechaEntrada | formatMediumDate }}</td>
          <td>{{ lotes.lote }}</td>
          <td>{{ lotes.estado }}</td>
          <td>{{ lotes.notas }}</td>
          <td>
            <div *ngIf="lotes.proveedores">
              <a [routerLink]="['/proveedores', lotes.proveedores.id, 'view']">{{ lotes.proveedores.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/lotes', lotes.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/lotes', lotes.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(lotes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
