<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="detalles">
      <h2 data-cy="detallesDetailsHeading"><span jhiTranslate="controlacApp.detalles.detail.title">Detalles</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="controlacApp.detalles.id">Id</span></dt>
        <dd>
          <span>{{ detalles.id }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.detalles.cantidad">Cantidad</span></dt>
        <dd>
          <span>{{ detalles.cantidad }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.detalles.impuestos">Impuestos</span></dt>
        <dd>
          <span>{{ detalles.impuestos }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.detalles.descuento">Descuento</span></dt>
        <dd>
          <span>{{ detalles.descuento }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.detalles.total">Total</span></dt>
        <dd>
          <span>{{ detalles.total }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.detalles.productos">Productos</span></dt>
        <dd>
          <span *ngFor="let productos of detalles.productos; let last = last">
            <a [routerLink]="['/productos', productos.id, 'view']">{{ productos.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/detalles', detalles.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
