<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="abonos">
      <h2 data-cy="abonosDetailsHeading"><span jhiTranslate="controlacApp.abonos.detail.title">Abonos</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="controlacApp.abonos.id">Id</span></dt>
        <dd>
          <span>{{ abonos.id }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.abonos.saldoAnterior">Saldo Anterior</span></dt>
        <dd>
          <span>{{ abonos.saldoAnterior }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.abonos.abono">Abono</span></dt>
        <dd>
          <span>{{ abonos.abono }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.abonos.nuevoSaldo">Nuevo Saldo</span></dt>
        <dd>
          <span>{{ abonos.nuevoSaldo }}</span>
        </dd>
        <dt><span jhiTranslate="controlacApp.abonos.facturas">Facturas</span></dt>
        <dd>
          <div *ngIf="abonos.facturas">
            <a [routerLink]="['/facturas', abonos.facturas.id, 'view']">{{ abonos.facturas.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/abonos', abonos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
