<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-clientes-heading" data-cy="ClientesCreateUpdateHeading" jhiTranslate="controlacApp.clientes.home.createOrEditLabel">
        Crear o editar Clientes
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="controlacApp.clientes.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.estadoCliente" for="field_estadoCliente">Estado Cliente</label>
          <input
            type="checkbox"
            class="form-check"
            name="estadoCliente"
            id="field_estadoCliente"
            data-cy="estadoCliente"
            formControlName="estadoCliente"
          />
          <div
            *ngIf="
              editForm.get('estadoCliente')!.invalid && (editForm.get('estadoCliente')!.dirty || editForm.get('estadoCliente')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('estadoCliente')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.nombresContacto" for="field_nombresContacto"
            >Nombres Contacto</label
          >
          <input
            type="text"
            class="form-control"
            name="nombresContacto"
            id="field_nombresContacto"
            data-cy="nombresContacto"
            formControlName="nombresContacto"
          />
          <div
            *ngIf="
              editForm.get('nombresContacto')!.invalid &&
              (editForm.get('nombresContacto')!.dirty || editForm.get('nombresContacto')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombresContacto')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.apellidoContacto" for="field_apellidoContacto"
            >Apellido Contacto</label
          >
          <input
            type="text"
            class="form-control"
            name="apellidoContacto"
            id="field_apellidoContacto"
            data-cy="apellidoContacto"
            formControlName="apellidoContacto"
          />
          <div
            *ngIf="
              editForm.get('apellidoContacto')!.invalid &&
              (editForm.get('apellidoContacto')!.dirty || editForm.get('apellidoContacto')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('apellidoContacto')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.direccion" for="field_direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
          <div *ngIf="editForm.get('direccion')!.invalid && (editForm.get('direccion')!.dirty || editForm.get('direccion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('direccion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.nombreEmpresa" for="field_nombreEmpresa">Nombre Empresa</label>
          <input
            type="text"
            class="form-control"
            name="nombreEmpresa"
            id="field_nombreEmpresa"
            data-cy="nombreEmpresa"
            formControlName="nombreEmpresa"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.regFiscal" for="field_regFiscal">Reg Fiscal</label>
          <input type="text" class="form-control" name="regFiscal" id="field_regFiscal" data-cy="regFiscal" formControlName="regFiscal" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.giro" for="field_giro">Giro</label>
          <input type="text" class="form-control" name="giro" id="field_giro" data-cy="giro" formControlName="giro" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.notas" for="field_notas">Notas</label>
          <input type="text" class="form-control" name="notas" id="field_notas" data-cy="notas" formControlName="notas" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.sitioWeb" for="field_sitioWeb">Sitio Web</label>
          <input type="text" class="form-control" name="sitioWeb" id="field_sitioWeb" data-cy="sitioWeb" formControlName="sitioWeb" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.telefonoFijo" for="field_telefonoFijo">Telefono Fijo</label>
          <input
            type="number"
            class="form-control"
            name="telefonoFijo"
            id="field_telefonoFijo"
            data-cy="telefonoFijo"
            formControlName="telefonoFijo"
          />
          <div
            *ngIf="editForm.get('telefonoFijo')!.invalid && (editForm.get('telefonoFijo')!.dirty || editForm.get('telefonoFijo')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telefonoFijo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('telefonoFijo')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.telefonoFijo2" for="field_telefonoFijo2">Telefono Fijo 2</label>
          <input
            type="number"
            class="form-control"
            name="telefonoFijo2"
            id="field_telefonoFijo2"
            data-cy="telefonoFijo2"
            formControlName="telefonoFijo2"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.telefonoMovil" for="field_telefonoMovil">Telefono Movil</label>
          <input
            type="number"
            class="form-control"
            name="telefonoMovil"
            id="field_telefonoMovil"
            data-cy="telefonoMovil"
            formControlName="telefonoMovil"
          />
          <div
            *ngIf="
              editForm.get('telefonoMovil')!.invalid && (editForm.get('telefonoMovil')!.dirty || editForm.get('telefonoMovil')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telefonoMovil')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('telefonoMovil')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.telefonoMovil2" for="field_telefonoMovil2">Telefono Movil 2</label>
          <input
            type="number"
            class="form-control"
            name="telefonoMovil2"
            id="field_telefonoMovil2"
            data-cy="telefonoMovil2"
            formControlName="telefonoMovil2"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.fechaRegistro" for="field_fechaRegistro">Fecha Registro</label>
          <input
            type="text"
            class="form-control"
            name="fechaRegistro"
            id="field_fechaRegistro"
            data-cy="fechaRegistro"
            formControlName="fechaRegistro"
          />
          <div
            *ngIf="
              editForm.get('fechaRegistro')!.invalid && (editForm.get('fechaRegistro')!.dirty || editForm.get('fechaRegistro')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaRegistro')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="controlacApp.clientes.fechaUltimaC" for="field_fechaUltimaC">Fecha Ultima C</label>
          <input
            type="text"
            class="form-control"
            name="fechaUltimaC"
            id="field_fechaUltimaC"
            data-cy="fechaUltimaC"
            formControlName="fechaUltimaC"
          />
          <div
            *ngIf="editForm.get('fechaUltimaC')!.invalid && (editForm.get('fechaUltimaC')!.dirty || editForm.get('fechaUltimaC')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaUltimaC')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
